body {
    overflow: hidden;
}

.font-size-wrapper-14 {
    .w-md-editor-text, .w-md-editor-text-pre > code {
        font-size: 14px !important;
        line-height: 18px !important;
    }
    textarea {
        font-size: 14px;
    }
}
.font-size-wrapper-16 {
    .w-md-editor-text, .w-md-editor-text-pre > code {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    textarea {
        font-size: 16px;
    }
}
.font-size-wrapper-18 {
    .w-md-editor-text, .w-md-editor-text-pre > code {
        font-size: 18px !important;
        line-height: 22px !important;
    }
    textarea {
        font-size: 18px;
    }
}
.font-size-wrapper-20 {
    .w-md-editor-text, .w-md-editor-text-pre > code {
        font-size: 20px !important;
        line-height: 24px !important;
    }
    textarea {
        font-size: 20px;
    }
}
.font-size-wrapper-22 {
    .w-md-editor-text, .w-md-editor-text-pre > code {
        font-size: 22px !important;
        line-height: 26px !important;
    }
    textarea {
        font-size: 22px;
    }
}

// luminous boba btn for light mode
.luminous-boba {
    svg {
        transition: fill 1s ease-in;
    }
    &:hover {
        svg {
            fill: #FFE900;
        }
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 250px) {
    .w-md-editor-show-edit .w-md-editor-input {
        padding: 0 49px;
    }

    .w-md-editor-show-edit .w-md-editor-toolbar {
        margin: 0 49px;
        padding: 0px;
    }

    .wmde-markdown.wmde-markdown-color {
        padding: 0 49px 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-md-editor-show-edit .w-md-editor-input {
        padding: 0 100px;
    }

    .w-md-editor-show-edit .w-md-editor-toolbar {
        margin: 0 100px;
        padding: 0px;
    }

    .wmde-markdown.wmde-markdown-color {
        padding: 0 100px 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-md-editor-show-edit .w-md-editor-input, .w-md-editor-show-edit .w-md-editor-toolbar {
        padding: 0 150px;
    }

    .w-md-editor-show-edit .w-md-editor-toolbar {
        margin: 0 150px;
        padding: 0px;
    }

    .wmde-markdown.wmde-markdown-color {
        padding: 0 150px 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .w-md-editor-show-edit .w-md-editor-input {
        padding: 0 170px;
    }

    .w-md-editor-show-edit .w-md-editor-toolbar {
        margin: 0 170px;
        padding: 0px;
    }

    .wmde-markdown.wmde-markdown-color {
        padding: 0 170px 50px;
    }
}
